ul.upper-menu {
	list-style-type: none;
	margin:  0;
	padding: 0.3em;
}

ul.internal {
	background-color: darkgray;
}

ul.external {
	background-color: black;
}

ul.upper-menu li {
	display: inline-block;
}

ul.upper-menu li a {
	padding-left: 1em;
	padding-right: 1em;
}

ul.internal li a {
	color: yellow;
	background-color: darkblue;
}

ul.external li a {
	background-color: yellow;
}
