ul.upper-menu {
	list-style-type: none;
	margin:  0;
	padding: 0.3em;
}

ul.internal {
	background-color: darkgray;
}

ul.external a {
	background-color: black;
	color: white;
	font-family: monospace;
	text-decoration: none;
}

ul.upper-menu li {
	display: inline-block;
}

ul.upper-menu li a {
	padding-left: 1em;
	padding-right: 1em;
}

ul.internal li a {
	color: yellow;
	background-color: darkblue;
}

a.source {
	background-color: black;
	color: white;
	font-family: monospace;
	text-decoration: none;
}

table.tree th {
	background-color: black;
}

td.full {
	text-align: center;
}

td.full0 {
	background-color: black;
	text-align: center;
}

table.tree td.full a {
	display: block;
	width: 100%;
	background-color: black;
}
